html {
	background-color: #EDF2C5;
	box-sizing: border-box;
	width:1260;
	height:940;
}
#869960

*,*:before,*:after {
	box-sizing: inherit
}

body {
	font-family: Tahoma, sans-serif;
	font-size: 87%;
}

.container {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color:  #EDF2C5;
	padding-left: 40px;
	padding-right: 40px;
}



table {
  height: 44pt;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 100%;
}


thead th {
  width: 940px;
  height: 44px;
  background: #778A50;
  color:  #EDF2C5;
  font-size: 16px;
  font-weight: 100;
  font-family: Arial Black;
}




.img1{
	width: 940px;
	height: 448px;
}


.fb{
float: right;
position: relative;
bottom: 17px;
}

.sidebar_head{
width: 445px;
height: 45px;
margin: 15px;
color:  #EDF2C5;
margin-left: 0px;
margin-right: 0px;
text-align: left;
color: #EDF2C5;
}


.sidebar_head2{
width: 445px;
height: 45px;
margin: 15px;
color:  #EDF2C5;
margin-left: 0px;
margin-right: 0px;
position: relative;
left: 500px;
bottom: 204px;
text-align: left;
color: #EDF2C5;
}



.div_row{
float: left;
}


.div_row2{
position: relative;
bottom: 24px;
}


.header {
	padding-top: 20px;
	/* padding-bottom: 20px; */
	color: #617140;
}

.header-title {
	position: relative;
	top: 22px;
	margin: 0;
	font-weight: bold;
	font-size: 300%;
	font-family: Arial Black;
}


.sidebar {
	background-color: #e5e9dc;
	padding: 20px 40px;
	font-size: 85%;
	text-align: left;
}


.footer1{
	text-align: center;
	position: relative;
	right: 800px;
	color: #EDF2C5;
	width: 1484px;
	height: 60px;
	padding-top: 20px;
	padding-bottom: 0px;
}
